/* Form container styles */
.airport-cargo-container {
  display: flex;
  flex-direction: column;
  padding: 24px;
  background-color: white;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  max-height: 80vh;
  overflow-y: auto;
  margin: 20px auto;
}

.airport-cargo-title {
  margin-left: 20px;
}

/* Modal style */
.modal-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Custom text field styles */
.custom-text-field {
  margin-bottom: 16px;
}

.custom-input-root {
  height: 48px;
  font-size: 16px;
  align-items: center;
  border: none;
}

.custom-label-focused {
  color: var(--mui-palette-primary-main);
}

.custom-underline:after {
  border-bottom-color: var(--mui-palette-primary-main);
}

.custom-outlined-fieldset {
  border-color: transparent;
}

.custom-outlined-fieldset-hover {
  border-color: var(--mui-palette-primary-main);
}

.custom-outlined-fieldset-focused {
  border-color: var(--mui-palette-primary-main);
}

/* Button container styles */
.action-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.custom-add-button {
  background-color: var(--mui-palette-primary-main);
  color: var(--mui-palette-common-white);
  border: 1px solid var(--mui-palette-primary-main);
}

.custom-add-button:hover {
  background-color: var(--mui-palette-primary-dark);
}

.delete-button {
  background-color: var(--mui-palette-error-main);
  color: var(--mui-palette-common-white);
}

/* Unused styles removed */
