
.form-container-airport {
  max-width: 1100px;
  margin: auto;
  padding: 20px;
}

.airport-form .form-row > div {
  flex: 1;
}
.add-button,
.cancel-button {
  flex: 1;
}
.cancel-button {
  display: flex;
  justify-content: flex-end;
}
.add-btn{
  width : 150px;
}
.form-container-airport .airport-form .form-row{
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-container-airport .airport-form .form-row {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Space out the elements evenly */
  gap: 20px; /* Add spacing between the elements */
  margin-bottom: 20px;
}

.add-cancel-btns .add-button, .cancel-button {
  display: flex;
  align-items: center;
}

.add-btn {
  width: 150px;
}
.form-row .form-buttons .add-btn{
  margin-right : 50px;
} 