
.airport-table .styled-table-row:last-child td,
.styled-table-row:last-child th {
  border: 0;
}

.airport-table .styled-table-cell-airport {
  padding: 8px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.43;
  letter-spacing: 0.01071em;
  display: table-cell;
  vertical-align: inherit;
  border-bottom: 1px solid rgba(224, 224, 224, 1);
  text-align: left;
  color: rgba(0, 0, 0, 0.87);
}

.airport-table .styled-table-head-cell-airport {
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 0.875rem;
  line-height: 1.5rem;
  letter-spacing: 0.01071em;
  display: table-cell ;
  vertical-align: middle ;
  text-align: left ;
  padding: 8px ;
  color: blue;
}


.airport-table .action-buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.airport-table .styled-table-cell-actions-airport {
  display: flex;
  gap: 8px;
}
