.form-section {
    padding: 10px;
    margin-left: 50px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid grey;
  }
  
  .form-group {
    flex: 0 0 calc(50% - 20px);
    margin-bottom: 15px;
    padding-right: 20px;
    box-sizing: border-box;
    display: flex;
    align-items: flex-start;
  }
  
  .form-group:nth-child(odd) {
    padding-right: 10px;
  }
  
  .form-group label {
    font-weight: bold;
    margin-right: 10px;
    flex: 0 0 30%;
  }
  
  .form-group .radio-group {
    display: flex;
    align-items: center;
  }
  
  .form-group .radio-group input[type="radio"] {
    margin-right: 10px; /* Add margin to space out radio buttons */
  }
  
  .form-group.account-owner .radio-group input[type="radio"] + label {
    margin-right: 20px; /* Add more space between radio buttons */
  }
  
  .form-group select {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  /* Specific adjustments for the "Non Member" checkbox */
  .form-group.non-member {
    align-items: center;
  }
  
  .form-group.non-member input[type="checkbox"] {
    margin-left: 10px;
  }
  
  /* Specific adjustments for the "Account Owner" radio buttons */
  .form-group.account-owner {
    align-items: center;
  }
  
  .form-group.account-owner .radio-group {
    margin-left: 10px;
  }
  
  .form-group.cto-market-share {
    flex: 0 0 calc(49% - 20px);
  }
  
  @media (max-width: 768px) {
    .form-group {
      flex: 0 0 calc(100% - 20px);
      padding-right: 0;
    }
  
    .form-group:nth-child(odd) {
      padding-right: 0;
    }
  }