/* General styling */
.user {
    font-size: 24px;
    margin-bottom: 16px;
  }
  
  .action-buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
  }
  
  .add-user-button {
    background-color: #3f51b5;
    color: white;
  }
  
  /* Form styling */
  .form-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 20px;
    background-color: white;
    box-shadow: var(--mui-shadows-5);
    border-radius: 8px;
    max-width: 500px;
    width: 100%;
    max-height: 80vh;
    overflow-y: auto;
    margin: 100px auto !important;
  }
  
  /* Custom text field styling */
  .custom-text-field .MuiInputBase-root {
    margin: 14px 0 !important;
    height: 30px !important;
  }
  
  .custom-text-field .Mui-focused {
    color: #3f51b5 !important;
  }
  
  .custom-text-field .MuiInput-underline:after {
    border-bottom-color: #3f51b5 !important;
  }
  
  .button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
  }
  
  /* Delete dialog styling */
  .delete-dialog-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    max-width: 400px;
    margin: 100px auto;
  }
  
  .delete-dialog-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
  }
  
  .delete-dialog-button {
    color: blue;
  }
  
  .delete-dialog-button.delete {
    color: red;
  }
  
  /* Table styling */
  .table-head-cell {
    color: blue !important;
    padding: 8px !important;
    font-weight: bold !important;
    background-color: #f5f5f5 !important;
  }
  
  .table-cell {
    padding: 8px !important;
  }
  
  .styled-table-row:hover {
    background-color: #f1f1f1;
  }
  
  .blue-icon-button {
    color: blue;
  }
  
  /* Override default Material-UI TableCell styles */
  .MuiTableCell-root {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif !important;
    font-weight: 500 !important;
    font-size: 0.875rem !important;
    line-height: 1.5rem !important;
    letter-spacing: 0.01071em !important;
    display: table-cell !important;
    vertical-align: inherit !important;
    border-bottom: 1px solid rgba(224, 224, 224, 1) !important;
    text-align: left !important;
    padding: 8px !important; /* Reduced padding */
  }
  