
/* Modal style */
.modal-style {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Custom text field styles */
.custom-text-field-cargo .MuiInputBase-root {
    height: 48px; /* Adjust height for better alignment */
    font-size: 16px;
    align-items: center;
}

.custom-text-field-cargo label.Mui-focused {
    color: var(--mui-palette-primary-main);
}

.custom-text-field-cargo .MuiInput-underline:after {
    border-bottom-color: var(--mui-palette-primary-main);
}

.custom-text-field-cargo .MuiOutlinedInput-root fieldset {
    border-color: transparent;
}

.custom-text-field-cargo .MuiOutlinedInput-root:hover fieldset {
    border-color: var(--mui-palette-primary-main);
}

.custom-text-field-cargo .MuiOutlinedInput-root.Mui-focused fieldset {
    border-color: var(--mui-palette-primary-main);
}

.custom-text-field-cargo {
    margin-bottom: 12px; 
}

/* Button container styles */
.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px; /* Increase margin-top for better spacing */
}

.MuiInputBase-input,
.MuiInput-input {
    border: none !important;
}

/* Small modal style */
.smallModalStyle {
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    margin: 20px auto;
    border-radius: 8px !important;
    width: 450px !important;
}
