.customer .button-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.customer .action-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.customer .delete-send-row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 1rem;
  gap: 10px; /* Space between buttons */
}


.customer .send-button {
  padding: 6px 16px;
}

.customer .add-button-customer-sampling {
  padding: 6px 16px;
}
.selected-actions {
  display: flex;
  align-items: center;
  background-color: black;
  padding: 10px;
  color: white;
  height : 4rem;
}

.selected-actions span {
  margin-right: 20px; 
}

.selected-actions .send-sampling-button {
  color: blue;
  background-color: #070606;
  margin-right: 20px; /* Space after the button */
}

.selected-actions .delete-button {
  color: grey;
  font-size: 1.4rem;
}

.selected-actions .close-button {
  margin-left: auto; /* Pushes the X icon to the far right */
  color: white;
}


.selected-actions > .left-group {
  display: flex;
  align-items: center;
}
.customer {
  margin-left: 20px;
}