/* Table styling */
.user-master-table .table-head-cell {
    font-weight: bold;
    color: black;
    background-color: white;
    text-align: start;
}

.user-type-table .table-cell {
    padding: 8px;
}

.styled-table-row:hover {
    background-color: #f1f1f1;
}

.blue-icon-button {
    color: blue;
}
.table-toolbar {
    background-color: black;
    color : white;
    padding : 10px;
}
.table-toolbar .selected-count {
    margin-right: 3rem;
}
.table-toolbar .delete-icon{
    color : white;
}
.table-toolbar .close-icon {
    color : white;
    padding : 5px;
    margin-left : 50rem;
}