.userType {
    padding: 20px;
  }
  .user {
    margin-bottom: 1rem;
  }

  .userType .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  .userType .header .add-user-button {
    color: blue;
    background-color: white;
    box-shadow: none;
  }
  .userType .header .add-user-button:hover {
    color : darkblue;
  }
  .userType .search-bar {
    margin-bottom : 1rem;
  }