.userType {
    padding: 20px;
  }
  
  .user {
    margin-bottom: 20px;
  }
  
  .action-buttons {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
  }
  
  .add-user-button {
    background-color: #007bff;
    color: #fff;
  }
  
  .add-user-button:hover {
    background-color: #0056b3;
  }
  