/* Sidebar container */
.sidebar_main .drawer {
    width: 220px;
    flex-shrink: 0;
    background-color: #ffffff;
    border-right: 1px solid rgba(0, 0, 0, 0.12);
    margin-top: 64px; /* Ensure the sidebar is below the toolbar */
    z-index: 1200;
}

/* Drawer paper */
.sidebar_main .drawer-paper {
    width: 220px;
    box-sizing: border-box;
    margin-top: 56px;
    gap: 36px;
    margin-bottom: 36px;
}

/* Sidebar box and list items */
.sidebar_main .sidebar_box .list-items {
    display: flex; /* Enable flexbox */
    flex-direction: column; /* Stack items vertically */
    padding: 20px 12px; /* Adjusted padding */
    color: #424242;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    gap: 36px; /* Adjusted gap for vertical spacing */
}

/* List item styling */
.sidebar_main .list-item {
    display: flex;
    align-items: center;
}

/* List item icon */
.sidebar_main .list-item-icon {
    min-width: 36px;
    transition: color 0.3s;
}

/* List item text */
.sidebar_main .list-item-text {
    width: 137px; /* Width of text */
    transition: opacity 0.3s; /* Smooth transition for hiding text */
}

/* Hide text on medium and small screens */
.sidebar_main .hide-on-small {
    display: block; /* Default display for text */
}

@media (max-width: 1024px) {
    /* For medium screens */
    .sidebar_main .drawer {
        width: 80px; /* Reduced width */
    }

    .sidebar_main .drawer-paper {
        width: 80px; /* Reduced width */
    }

    .sidebar_main .sidebar_box .list-items {
        padding: 10px 0; /* Adjusted padding */
    }

    .sidebar_main .hide-on-small {
        display: none; /* Hide text on medium screens */
    }

    .sidebar_main .list-item-icon {
        min-width: 24px; /* Smaller icon size */
    }
}

@media (max-width: 600px) {
    .sidebar_main .drawer {
        width: 60px; /* Reduced width */
    }

    .sidebar_main .drawer-paper {
        width: 60px; /* Reduced width */
    }

    .sidebar_main .sidebar_box .list-items {
        padding: 8px 0; /* Adjusted padding */
    }

    .sidebar_main .hide-on-small {
        display: none; /* Hide text on small screens */
    }

    .sidebar_main .list-item-icon {
        min-width: 20px; /* Smaller icon size */
    }
}
